<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-decoration: none;
      }
      h1 {
        color: #22aeff;
        margin-bottom: 20px;
      }
      p {
        color: #333;
        line-height: 1.6;
        margin-bottom: 15px;
      }
      #ctaButton {
        display: inline-block;
        padding: 10px 20px;
        background-color: #22aeff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-bottom: 100px;
      }

      #ctaButton:hover {
        background-color: #0288d1;
      }

      .cta-button:hover {
        background-color: #0288d1;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Bienvenido/a a nuestra aplicación</h1>
      <p>
        ¡Gracias por unirte a nuestra comunidad! Estamos emocionados de tenerte
        como parte de nuestro servicio.
      </p>
      <p>
        Para comenzar a disfrutar de todos los beneficios de nuestra aplicación,
        te invitamos a completar tu registro:
      </p>
      <a
        id="ctaButton"
        href="https://www.auditar.net.ar/registrarse"
        class="cta-button"
        >Registrarse Ahora</a
      >

      <p>¡Esperamos que disfrutes de tu experiencia con nosotros!</p>
      <p>Atentamente,</p>
      <p>El equipo de AUDITAR</p>
    </div>
  </body>
</html>
